@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  }
  

html, body {
    --lavande:  hsl(241, 100%, 89%);
    -webkit-text-size-adjust: 100%;
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    background-color: hsla(220, 100%, 96%, 1);
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;

}

.container {
    display: flex;

    width: 100%;

}

.component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: 32px;
    margin: auto;
    background-color: white;

}


/* RESULTS SIDE */

.results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 32px; 
    width: 368px;
    height: 512px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--lavande);
    margin: 40px 0;
}

.round {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    width: 200px;
    height: 200px;
}

#total {
    font-size: 72px;
    font-weight: 800;

    text-align: center;
    color: white;
    margin: 0;
}

#base {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--lavande);
    margin: 0;
}

.feedback {
    margin: 40px auto;
    width: 260px;
    height: 134px;
}

#short {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0px;
}

#details {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--lavande);
}


/* SUMMARY SIDE */

.summary {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 512px;
    width: 368px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: hsl(224, 30%, 27%);
    margin: 40px 0px 30px 40px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 272px;
    justify-content: space-evenly;
    font-size: 18px;
}

.item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    height: 56px;
    width: 288px;
    
}

.score {
    display: flex;
    font-weight: 700;
    margin: auto 0px;
}

.name {
    flex-grow: 0.5;
    text-align: left;
    font-weight: 500;
}

.hundred {
    color: hsla(223, 30%, 27%, 0.5);
    margin-left: 10px;

}

#reaction {
    background-color: hsla(0, 100%, 67%, 0.05);
}

#red {
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: hsla(39, 100%, 56%, 0.05) 
}

#yellow {
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsla(166, 100%, 37%, 0.05);
}

#green {
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsla(234, 85%, 45%, 0.05);
}

#blue {
    color: hsl(234, 85%, 45%);
}

button {
    background-color: hsl(224, 30%, 27%);
    width: 288px;
    height: 56px;
    border-radius: 128px;
    border: none;
    margin: 38px auto;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    cursor: pointer;
}


/* ATTRIBUTION */

.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0; left:0; width: 100%; margin-bottom: 5px; }

.attribution a { color: hsl(228, 45%, 44%); }


/* MEDIA QUERIES */

@media only screen and (max-width: 735px) {

    html, body {
        background-color: white;
    }

    .component {
        margin: 0px;
        border-radius: 0px;

    }

    .results {
        height: 356px;
        border-radius: 0px 0px 32px 32px;
    }

    h1 {
        font-size: 18px;
        margin: 25px;
    }

    .round {
        width: 140px;
        height: 140px;
    }

    #score {
        font-size: 56px;
    }

    #base {
        font-size: 16px;
    }

    .feedback {
        width: 260px;
        height: 81px;
        margin: 25px 0px;
    }

    #short {
        font-size: 24px;
    }

    #details {
        font-size: 16px;
    }

    .summary {
        height: 453px;
        }

    h2 {
        font-size: 18px;
        margin: 32px 0px 20px 70px;
    }

    .list {
        font-size: 16px;
    }

    button {
        margin: 25px auto;
    }

    .attribution {
        display: none;
    }
}
